*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: darkslategrey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    color: black;
}
#navBar a{
    display: flex;
    display: block;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}